@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --dark :#2e2f34;
    --sec-bg : #34353a;
    --text-yellow : #e0af36;
}

body{
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.noto{
    font-family: 'Noto Serif', serif;
}

.roboto{
    font-family: 'Roboto Condensed', sans-serif;
}



